.search {
  padding: 10em 0 10em;
  text-align: center;

  &__input {
background-color: #fff; 
padding: .4em 1em;
border: none;
outline: none;
border-radius: 4px 0 0 4px;
  }

&__btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: .4em 1em;
  border: none;
  outline: none;
  border-radius: 0 4px 4px 0;
}

&__btn:hover {
  background-color:#3c5a15;

}

&__error {
  margin-top: .75em;
  color: rgb(239, 53, 53);
  font-size: medium;
}

}
